
SET IDENTITY_INSERT [dbo].[BaiVietHeThong] ON 

INSERT [dbo].[BaiVietHeThong] ([ID], [cCode], [cValue], [cLangID], [cUpdateTime]) VALUES (2, N'SupportOnline', N'<p>Đường d&acirc;y n&oacute;ng :&nbsp;<br />
<strong>+84 868671295</strong></p>
', N'vi-VN', CAST(0x0000A755013E5FE8 AS DateTime))
INSERT [dbo].[BaiVietHeThong] ([ID], [cCode], [cValue], [cLangID], [cUpdateTime]) VALUES (3, N'SupportOnline', N'<p>HotLine :&nbsp; <strong>+84&nbsp;<span id="ctl03_GridView1_ctl02_Label2"> 913294745</span></strong></p>
<p>&nbsp;</p>', N'en-US', CAST(0x00009EC2011B0CC8 AS DateTime))
SET IDENTITY_INSERT [dbo].[BaiVietHeThong] OFF
SET IDENTITY_INSERT [dbo].[Chitietdonhang] ON 

INSERT [dbo].[Chitietdonhang] ([Id], [IdDonHang], [IdSanPham], [Soluong], [Dongia]) VALUES (11, 0, 16, 1, 150000)
INSERT [dbo].[Chitietdonhang] ([Id], [IdDonHang], [IdSanPham], [Soluong], [Dongia]) VALUES (12, 0, 16, 1, 150000)
INSERT [dbo].[Chitietdonhang] ([Id], [IdDonHang], [IdSanPham], [Soluong], [Dongia]) VALUES (13, 0, 16, 1, 150000)
SET IDENTITY_INSERT [dbo].[Chitietdonhang] OFF
SET IDENTITY_INSERT [dbo].[Donhang_KhachHang] ON 

INSERT [dbo].[Donhang_KhachHang] ([IdDonHang], [Idkhachhang], [Ngaydat], [Ngaygiao], [Yeucau], [Kieuthanhtoan], [Trangthai], [Ngonngu], [Duyet], [Tennguoinhan], [DTnguoinhan], [EmailnguoiNhan], [Diachinguoinhan]) VALUES (13, 1, CAST(0x0000A76B014118A4 AS DateTime), CAST(0x0000A76E00000000 AS DateTime), N'', N'Thanh toán trực tiếp', NULL, NULL, NULL, N'Nguyễn Mạnh Thắng', N'0868671295', NULL, N'Thái bình')
INSERT [dbo].[Donhang_KhachHang] ([IdDonHang], [Idkhachhang], [Ngaydat], [Ngaygiao], [Yeucau], [Kieuthanhtoan], [Trangthai], [Ngonngu], [Duyet], [Tennguoinhan], [DTnguoinhan], [EmailnguoiNhan], [Diachinguoinhan]) VALUES (14, 1, CAST(0x0000A76B0141E893 AS DateTime), CAST(0x0000A76E00000000 AS DateTime), N'1234', N'Thanh toán trực tiếp', NULL, NULL, NULL, N'Nguyễn Mạnh Thắng', N'0868671295', NULL, N'Thái bình')
INSERT [dbo].[Donhang_KhachHang] ([IdDonHang], [Idkhachhang], [Ngaydat], [Ngaygiao], [Yeucau], [Kieuthanhtoan], [Trangthai], [Ngonngu], [Duyet], [Tennguoinhan], [DTnguoinhan], [EmailnguoiNhan], [Diachinguoinhan]) VALUES (15, 1, CAST(0x0000A76B01422AA8 AS DateTime), CAST(0x0000A76E00000000 AS DateTime), N'1', N'Thanh toán trực tiếp', NULL, NULL, NULL, N'Nguyễn Mạnh Thắng', N'0868671295', NULL, N'Thái bình')
SET IDENTITY_INSERT [dbo].[Donhang_KhachHang] OFF
SET IDENTITY_INSERT [dbo].[HangSX] ON 

INSERT [dbo].[HangSX] ([IdHang], [Mota], [Website], [LienHe], [UTien], [ThucThi], [NgonNgu]) VALUES (1, N'Mạnh Thắng', N'<p><a href="http://TrangSucBacMT.com">http://TrangSucBacMT.com</a></p>
', N'<p>01686466646</p>
', 1, 1, N'vi-VN')
INSERT [dbo].[HangSX] ([IdHang], [Mota], [Website], [LienHe], [UTien], [ThucThi], [NgonNgu]) VALUES (4, N'Mạnh Thắng 2', N'<p>abc</p>
', N'<p>0868671295</p>
', 1, 1, N'vi-VN')
SET IDENTITY_INSERT [dbo].[HangSX] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([IdKhachhang], [Tentruynhap], [Matkhau], [Tenkhachhang], [Ngaysinh], [Gioitinh], [Diachi], [Dienthoai], [Email], [Cauhoi], [Traloi], [Muc], [Ngaytao], [TieuDe], [Noidung], [Thucthi]) VALUES (1, N'thang', N'123456', N'Nguyễn Mạnh Thắng', NULL, NULL, N'Thái bình', N'0868671295', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([IdKhachhang], [Tentruynhap], [Matkhau], [Tenkhachhang], [Ngaysinh], [Gioitinh], [Diachi], [Dienthoai], [Email], [Cauhoi], [Traloi], [Muc], [Ngaytao], [TieuDe], [Noidung], [Thucthi]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([IdKhachhang], [Tentruynhap], [Matkhau], [Tenkhachhang], [Ngaysinh], [Gioitinh], [Diachi], [Dienthoai], [Email], [Cauhoi], [Traloi], [Muc], [Ngaytao], [TieuDe], [Noidung], [Thucthi]) VALUES (5, N'hung', N'123456', N'Hoàng Đức Hưng', NULL, NULL, N'Tân Hòa Thái Bình', N'0868671296', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([IdLoai], [Ten], [Tieude], [Mota], [Uutien], [Hinhanh], [Tukhoa], [Thucthi], [Vitri], [Ngonngu]) VALUES (2, N'Dây chuyền nữ', N'Dây chuyền nữ', N'<p>D&acirc;y chuyền nữ</p>
', 1, NULL, N'Dây chuyền nữ', 1, 3, N'vi-VN')
INSERT [dbo].[LoaiSanPham] ([IdLoai], [Ten], [Tieude], [Mota], [Uutien], [Hinhanh], [Tukhoa], [Thucthi], [Vitri], [Ngonngu]) VALUES (3, N'Lắc tay nữ', N'Lắc tay nữ', N'Lắc tay nữ', 1, NULL, N'Lắc tay nữ', 1, 4, N'vi-VN')
INSERT [dbo].[LoaiSanPham] ([IdLoai], [Ten], [Tieude], [Mota], [Uutien], [Hinhanh], [Tukhoa], [Thucthi], [Vitri], [Ngonngu]) VALUES (4, N'Lắc chân nữ', N'Lắc chân nữ ', N'Lắc chân nữ', 1, NULL, N'Lắc chân nữ', 1, 5, N'vi-VN')
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([id], [Ten], [TieuDe], [MoTa], [Thutu], [Trang], [ThuMuc], [Active], [LangID]) VALUES (1, N'HOME', N'Trang Chủ', N'Trang Chủ', 1, N'Index', N'Home', 1, N'vi-VN')
INSERT [dbo].[Menu] ([id], [Ten], [TieuDe], [MoTa], [Thutu], [Trang], [ThuMuc], [Active], [LangID]) VALUES (2, N'GIỚI THIỆU', N'Giới Thiệu', N'Giới Thiệu', 2, N'Gioithieu', N'Home', 1, N'vi-VN')
INSERT [dbo].[Menu] ([id], [Ten], [TieuDe], [MoTa], [Thutu], [Trang], [ThuMuc], [Active], [LangID]) VALUES (3, N'LIÊN HỆ', N'Liên Hệ', N'Liên Hệ', 3, N'LienHe', N'Home', 1, N'vi-VN')
SET IDENTITY_INSERT [dbo].[Menu] OFF
INSERT [dbo].[NguoiDung] ([Username], [Password], [Status]) VALUES (N'admin', N'123456', 1)
INSERT [dbo].[NguoiDung] ([Username], [Password], [Status]) VALUES (N'thang', N'123456', 1)
SET IDENTITY_INSERT [dbo].[QuangCao] ON 

INSERT [dbo].[QuangCao] ([ID], [AdsName], [AdsUrl], [AdsImage], [LangID], [AdsIndex], [AdsViewed]) VALUES (11, N'Trang Sức Mạnh Thắng', N'', N'../Media/Image/NE0208_banner-thang7-3.jpg', N'vi-VN', 1, 0)
INSERT [dbo].[QuangCao] ([ID], [AdsName], [AdsUrl], [AdsImage], [LangID], [AdsIndex], [AdsViewed]) VALUES (12, N'Trang Sức Mạnh Thắng', N'', N'../Media/Image/banner 5-1.jpg', N'vi-VN', 2, 0)
INSERT [dbo].[QuangCao] ([ID], [AdsName], [AdsUrl], [AdsImage], [LangID], [AdsIndex], [AdsViewed]) VALUES (13, N'Trang Sức Mạnh Thắng', N'', N'../Media/Image/company-banner4-394.jpg.banner.jpg', N'vi-VN', 3, 0)
SET IDENTITY_INSERT [dbo].[QuangCao] OFF
SET IDENTITY_INSERT [dbo].[Sanpham] ON 

INSERT [dbo].[Sanpham] ([id], [MaSanPham], [IdLoai], [Ten], [Model], [MotaNgan], [MotaChiTiet], [TSKyThuat], [Tukhoa], [IdHang], [NgayNhap], [NgayCapNhatCuoi], [GiaCu], [GiaMoi], [Uutien], [ThucThi], [HinhAnh], [HinhAnh1], [HinhAnh3], [HinhAnh4], [TieuBieu], [Ngonngu]) VALUES (6, N'SP03', 3, N'Lắc tay bạc nữ', N'LTBN-12312', N'Lắc tay bạc nữ', NULL, N'MT-9', N'Lắc tay bạc nữ', 1, CAST(0xA51D0B00 AS Date), CAST(0xA51D0B00 AS Date), 12, 12121212, 1, 1, N'/Areas/Administrator/Contentimages/560158517498904_1388761484520956_9106560123857177264_n_264_265.jpg', NULL, NULL, NULL, 0, N'vi-VN')
INSERT [dbo].[Sanpham] ([id], [MaSanPham], [IdLoai], [Ten], [Model], [MotaNgan], [MotaChiTiet], [TSKyThuat], [Tukhoa], [IdHang], [NgayNhap], [NgayCapNhatCuoi], [GiaCu], [GiaMoi], [Uutien], [ThucThi], [HinhAnh], [HinhAnh1], [HinhAnh3], [HinhAnh4], [TieuBieu], [Ngonngu]) VALUES (14, N'SP01', 6, N'Dây chuyền nam', N'DCN-123', N'Dây chuyền bạc nam', N'Làm từ bạc 9999 nguyên chất', N'MT-10', N'Dây chuyền bạc nam', 1, CAST(0xA51D0B00 AS Date), CAST(0xA51D0B00 AS Date), 5000000, 4500000, 1, 1, N'/Media/Image/mua-day-chuyen-nam-o-dau-a4.jpg', NULL, NULL, NULL, 0, N'vi-VN')
SET IDENTITY_INSERT [dbo].[Sanpham] OFF
ALTER TABLE [dbo].[BaiVietHeThong] ADD  CONSTRAINT [DF_BaiVietHeThong_cCode]  DEFAULT ('') FOR [cCode]
GO
ALTER TABLE [dbo].[BaiVietHeThong] ADD  CONSTRAINT [DF_BaiVietHeThong_cValue]  DEFAULT ('') FOR [cValue]
GO
ALTER TABLE [dbo].[BaiVietHeThong] ADD  CONSTRAINT [DF_BaiVietHeThong_cLangID]  DEFAULT ('') FOR [cLangID]
GO
ALTER TABLE [dbo].[BaiVietHeThong] ADD  CONSTRAINT [DF_BaiVietHeThong_cUpdateTime]  DEFAULT (getdate()) FOR [cUpdateTime]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_ThucDon_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF_NguoiDung_Username]  DEFAULT ('') FOR [Username]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF_NguoiDung_Password]  DEFAULT ('') FOR [Password]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF_NguoiDung_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[QuangCao] ADD  CONSTRAINT [DF_Ads_AdsName]  DEFAULT ('') FOR [AdsName]
GO
ALTER TABLE [dbo].[QuangCao] ADD  CONSTRAINT [DF_Ads_AdsUrl]  DEFAULT ('') FOR [AdsUrl]
GO
ALTER TABLE [dbo].[QuangCao] ADD  CONSTRAINT [DF_Ads_AdsImage]  DEFAULT ('') FOR [AdsImage]
GO
ALTER TABLE [dbo].[QuangCao] ADD  CONSTRAINT [DF_Ads_LangID]  DEFAULT (N'vi-VN') FOR [LangID]
GO
ALTER TABLE [dbo].[QuangCao] ADD  CONSTRAINT [DF_Ads_AdsIndex]  DEFAULT ((1)) FOR [AdsIndex]
GO
ALTER TABLE [dbo].[QuangCao] ADD  CONSTRAINT [DF_Ads_AdsViewed]  DEFAULT ((0)) FOR [AdsViewed]
GO
ALTER TABLE [dbo].[Donhang_KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_Donhang_KhachHang_KhachHang] FOREIGN KEY([Idkhachhang])
REFERENCES [dbo].[KhachHang] ([IdKhachhang])
GO
ALTER TABLE [dbo].[Donhang_KhachHang] CHECK CONSTRAINT [FK_Donhang_KhachHang_KhachHang]
GO
ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FK_Sanpham_HangSX] FOREIGN KEY([IdHang])
REFERENCES [dbo].[HangSX] ([IdHang])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FK_Sanpham_HangSX]
GO
ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FK_SP_LoaiSP] FOREIGN KEY([IdLoai])
REFERENCES [dbo].[LoaiSanPham] ([IdLoai])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FK_SP_LoaiSP]
GO
